.profileMenu {
    margin-left: 0;
    padding-left: 0;
}

.profileMenu > li {
    list-style-type: none;
}

.profileMenu a {
    text-decoration: none;
}

.profileMenuItemActive > span {
    color: white;
}

.content {
    width: 800px;
}

.menuContent {
    width: 250px;
}
