.flexRow {
    display: flex;
    position: relative;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    position: relative;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexAICenter {
    align-items: center;
}

.flexJCCenter {
    justify-content: center;
}

.flexJCRight {
    justify-content: right;
}

.flexJCAround {
    justify-content: space-around;
}

.flexJCBetween {
    justify-content: space-between;
}

.flexFill {
    flex: 1;
}

.flexItemASCenter {
    align-self: center;
}

.panelColor {
    background-color: rgba(255,255,255,.05);
}

.icon36 {
    width: 36px;
    height: 36px;
}

.page {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.button {
    border: unset;
    background: unset;
    cursor: pointer;
}

.textCenter {
    text-align: center;
}

.textDecorationNone {
    text-decoration: none;
}
